.main-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

div{
    margin: 5px;
    padding-left: 10px;
    padding-right:  10px;
}

.mycloud-container{
    display: flex;
    height: 100px;
    background-color: black;
    color: white;
    font-family: monospace;
    align-items: center;
}

.completed-container{
    height: auto;
    background-color: #6C6CBE;
    font-family: sans-serif;
    
}

.completed-container h2{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;
}

.contactus-container{
    background-color: #00255C;
    background-color: #78AED3;
    text-align: end;
    text-decoration: underline;
}

.contactus-container h3{
    font-family: sans-serif;
    font-weight: 100;
}