.form-container{
    width: 60%;
    padding: 2%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    button{
        height: 50px;
        width: 150px;
        background-color: aqua;
        font-size: 14px;
    }

    ul{
        list-style-type: none;
        li{
            margin: 2%;
            .comment-container{
                margin: 0 10%;
                display: flex;
                justify-content: space-between;
                img{
                    height: 20px;
                    width: auto;
                    margin: 0 5px;
                }
            }
        }
    }
}